{% extends "core/base.html" %}

{% block titulo %}Excluir Transação{% endblock %}

{% block conteudo %}
<div class="card p-4 shadow-sm">
    <h3 class="text-danger">Excluir Transação</h3>

    <p>Tem certeza que deseja excluir a transação:</p>

    <ul>
        <li><strong>{{ transacao.descricao }}</strong></li>
        <li>Valor: R$ {{ transacao.valor }}</li>
        <li>Data: {{ transacao.data }}</li>
    </ul>

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Sim, excluir</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
